body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    color: hsl (0%, 0%, 20%);
}
.choices{
margin-bottom: 30px;
}
.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: rgb(0, 136, 255);
    border: 0px;
    cursor: pointer;
    transition:background-color 0.5s ease;
}

.choices button:hover{
    background-color: rgb(0, 104, 196);
}

#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
}
#resultDisplay{
    font-size:5rem;
    margin: 30px 0;
}
.greenText, #playerScoreDisplay{
color:green;
}
.redText, #computerScoreDisplay{
color:red;
}
.scoreDisplay{
    font-size: 2rem;
}